@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background: #000000; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(
        to right,
        #000000,
        #333333
    ); 
    background: linear-gradient(
        to right,
        #000000,
        #333333
    );  */
    background: radial-gradient(farthest-side, #222, #000);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
